.airlinecard {
    display: flex;
    flex-direction: column;
    background: white;
    cursor: pointer;
    padding: 0.8rem;
    border: 1px solid rgba(14, 4, 5, .2);
    border-radius: 4px;
}

.airlinecard img {
    width: 250px;
    height: 220px;
    object-fit: contain;
    border-radius: 2px;
}

.airlinecard h2 {
    margin: 0.5rem 0.2rem 0rem 0.2rem;
    font-size: 1.2rem;
    /* font-weight: 500; */
}

.airlinecard h3 {
    margin: 0.1rem 0.2rem;
    font-size: 1rem;
    font-weight: 500;
}

/* .airlinecard p {
    margin: 0.1rem 0.2rem;
    font-weight: 600;
    color: var(--text-color);
    font-size: 0.9rem;
} */

