:root {
  --bg-clr: #fff;
  --main-heading: #fff;
  --profile-text-color: #fff;
  --profile-bg-color: #D9000D;
  --footer-bg-clr: #252525;
  --footer-font-clr: #ababab;
  --para-clr: #333;
  --label-clr: #fff;
  --btn-bg-color: #D9000D;
  --btn-text-color: #fff;
  --card-bg-color: #D9000D;
  --toggle-color: #000;
  --primary-white: #fff;
  --text-color: #D9000D;
}

.form_card {
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 400px;
  width: 70%;
  margin: 2.5rem auto;
  background-color: var(--card-bg-color);
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 500;
  padding: 1rem 1rem;
}

.error_para {
  color: var(--label-clr);
  text-align: center;
  font-weight: 400;
  font-size: 0.9rem;
}

.form_input {
  padding: 10px;
}

.form_input label {
  color: var(--label-clr);
  font-weight: 500;
  display: block;
  margin-bottom: 0.4rem;
}

.form_input input {
  padding: 0.3rem;
  border-radius: 8px;
  width: 90%;
}

.form_input button {
  margin-top: 1.5rem;
  width: 75%;
}


.radio_heading {
  color: var(--label-clr);
  font-weight: 500;
  display: block;
  margin: 0.4rem 0rem 0.4rem 0.5rem;
}

.form_radio_group {
  display: flex;
  justify-content: space-evenly;
  margin-left: 0.5rem;
  margin-bottom: 0.4rem;
}

.form_radio label {
  color: var(--label-clr);
  font-weight: 400;
  margin-bottom: 0.4rem;
  margin-right: 0.5rem;
}

.form_radio input {
  width: 1rem;
  height: 1rem;
  outline: none;
}

.login_card {
  margin: 3.5rem auto 1.5rem auto;
}

.login_btn {
  text-align: center;
}

.navigate_signup {
  margin: 0rem auto 2rem auto;
  background: transparent;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  max-width: 420px;
  padding: 0.8rem;
  text-decoration: none;
  color: var(--text-color);
}

.form_btn {
  text-transform: uppercase;
  font-size: 0.9rem;
  font-weight: 600;
  padding: 0.6rem 0rem;
  border-radius: 0.2rem;
  background-color: var(--primary-white);
  color: var(--text-color);
  letter-spacing: 0.05rem;
  border: none;
}

.form_btn:hover {
  opacity: 0.8;
}